/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

form {
  padding: 1rem;
  margin: 1rem -1rem;
  border: solid #f7f7f7;
  border-width: .2rem;
}

label {
  display: block !important;
  font-size: .9rem;
}

fieldset {
  margin-bottom: 1em !important;
}

.table-fifths th {
  width: 20%;
}
.table-thirds th {
  width: 30%;
}
.table-fourths th {
  width: 25%;
}
.table-sixths th {
  width: 16.666666667%;
}

.label-required {
  font-size: 1.1em;
}
.label-required:before {
  content: '*';
}

.c-validation {
  display: block;
}
.c-validation.has-error {
  color: red;
  font-style: italic;
  font-size: .9em;
}
